 main{
     background:#20212f;
     .con{
        margin: 0.4rem 0.45rem 0;
        .inp{
            padding: 0.3rem 0 0.1rem;
            span{
                color: #AFAFAF;
                font-size: 0.32rem;
                margin-bottom: 0.25rem;
            }
        }
    }
    
 }

