main{
    height: calc(100% - 1.24rem);
    ul{
        li:first-child,li:nth-child(3),li:nth-child(5){
            margin-top: 0.3rem !important;
        }
            
        li:nth-child(4){
            margin-top: 0 !important;
        }
    }

}
