main{
    height: calc(100% - 1.24rem);
    .con{
        padding: 0.22rem 0 0;
        height: 100%;
        box-sizing: border-box;
        width: 100%;
        .swiper-container {
            background: #000220;
            width: 100%;
            height: 0.6rem;
            box-sizing: border-box;
            margin-bottom: 0.44rem;
            ul{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                li{
                    display: flex;
                    justify-content: space-around;
                    align-items: center; 
                    font-size: 0.26rem;
                    color: #B7B7B7;
         
                }
               .yh_active {
                    color: #04A7D8;
                }
                .yh_active::after{
                        content: '';
                        background: url('../image/yh_03.png');
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        width: 0.54rem;
                        height: 0.12rem;
                        background-size: cover;
                }
            }
        }
        .btm{
            display: none;
            width: 100%;
            height: calc(100% - 1.04rem);
            .nr{
                height: 100%;
                width: 100%;
                overflow-y: auto;
                box-sizing: border-box;
            }
        }
        .btm:nth-child(2),.btm:nth-child(4),.btm:nth-child(3){
            display: block;
            .nr{
                padding: 0 0.34rem 0.5rem;
                >div{
                    margin-bottom: 0.34rem;
                    width: 100%;
                    height: 2.6rem;
                    background: #1B1B26;
                    border-radius: 10px;
                    padding:0.28rem 0.34rem 0;
                    box-sizing: border-box;
                    .titl{
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 0.1rem;
                        h3{
                            font-size: 0.32rem;
                            color: #9A9AA2;
                            font-weight: 400;
                        }
                        span{
                            font-size: 0.24rem;
                            color: #6C6C77;
                        }
                    }
                    .titl2{
                        font-size: 0.24rem;
                        padding-bottom: 0.3rem;
                        color: #6C6C77;
                    }
                    .titl3{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        img{
                            width: 0.4rem;
                            height: 0.4rem;
                            margin-right: 0.4rem;
                        }
                        h4{
                            font-size: 0.66rem;
                            color: #E2E3E5;
                            font-weight: 300;
                            flex: 1;
                        }
                        >div{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .rad{
                                width: 0.12rem;
                                height: 0.12rem;
                                background: #EBB866;
                                margin-right: 0.2rem;
                                border-radius: 50%;
                               
                            }
                            span{
                                font-size: 0.32rem;
                                color: #EBB866;
                            }
                        }
                    }
                } 
            }
        }

        .btm:nth-child(4){
            h3{
                font-size: 0.26rem !important;
            }
        }
        .btm:last-child{
            .nr{
                >div{
                    width: auto;
                    height: 3.12rem;
                    background: #1B1B26;
                    border-radius: 10px;
                    margin: 0 0.34rem 0.4rem;
                    padding: 0.28rem 0.84rem;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    .lef{
                        height: 100%;
                        display: flex;
                        align-items: center;
                        align-content: space-between;
                        flex-wrap: wrap;
                        width: 1.5rem;
                        >div{
                            width: 100%;
                            >div:first-child{
                                margin-bottom: 0.15rem;
                            }
                            div{
                                text-align: center;
                                font-size: 0.22rem;
                                color: #6C6C77;
                            }
                           
                        }
                        >div:nth-child(2) div:nth-child(2){
                            color: #fff;
                        }
                    }
                    
                }
            }
        }
        
    }
}
.jd{
        display: flex;
    justify-content: space-between;
}
.seletime2,.seletime{
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
    background: #171722;
    transition: all .3s;
    z-index: 99999;
}
