.con{
    div{
        height: 1.2rem;
        border-radius: 10px;
        background: #1B1B28;
        margin: 0.4rem 0.34rem 0;
        padding: 0 0.36rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        img{
            margin-right: 0.2rem;
        width: 0.48rem;
        height: 0.48rem;
        }
        span{
            font-size: 0.3rem;
            color: #B1B2B6;
            
        }
    }
    
}
