.con div{
        display: flex;
        justify-content: space-between;
        input{
            flex:1;
        }
        img{
            width: 0.37rem;
            height: 0.25rem;
            padding: 0.1rem 0.1rem 0 0;
        }
}
