.con{
    padding: 0.4rem 0.34rem 0;
    box-sizing: border-box;
    div{
        padding: 0 0.4rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #1B1B28;
        margin-bottom: 0.2rem;
        widows: 100%;
        height: 1.2rem;
        img{
            width: 0.5rem;
            height: 0.5rem;
            margin-right: 0.3rem;
        }
        .center_name{
            font-size: 0.3rem;
            color: #F6F6F6;
            flex: 1;
        }
        .center_num{
            font-size: 0.26rem;
            color: #23AFFB;
        }
    }
    .cen{
        background: #0492FF;
        border-radius: 10px;
        margin-bottom: 0.56rem;
        .center_num{
             color: #FFDE00;
        }
    }
}
